loki:
  enabled: true
  persistence:
    enabled: true
    size: 5Gi

promtail:
  enabled: true

grafana:
  enabled: true
  sidecar:
    datasources:
      enabled: true
  image:
    tag: 10.3.3

  # Configure Grafana to run under /grafana path
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/grafana"
      serve_from_sub_path: true

  # Expose Grafana via Ingress
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - localhost
    path: /grafana
    pathType: Prefix
