loki:
  enabled: true
  image:
    tag: 2.9.3
  persistence:
    enabled: true
    size: 5Gi

promtail:
  enabled: true
  config:
    clients:
      - url: http://dev-plg-stack-loki:3100/loki/api/v1/push

grafana:
  enabled: true
  admin:
    existingSecret: grafana-auth
    userKey: admin-user
    passwordKey: admin-password
  sidecar:
    datasources:
      enabled: true
  additionalDataSources:
    - name: Loki
      type: loki
      uid: P8E80F9AEF21F6940
      url: http://dev-plg-stack-loki:3100
      access: proxy
      isDefault: true

  # Configure Grafana to run under /grafana path
  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s:%(http_port)s/grafana"
      serve_from_sub_path: true

  # Expose Grafana via Ingress
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - localhost
    path: /grafana
    pathType: Prefix
