loki:
  enabled: true
  persistence:
    enabled: true
    size: 5Gi

promtail:
  enabled: true

grafana:
  enabled: true
  sidecar:
    datasources:
      enabled: true
  image:
    tag: 10.3.3

prometheus:
  enabled: false

alertmanager:
  enabled: false
