apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend-server.fullname" . }}
  labels:
    {{- include "backend-server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "backend-server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "backend-server.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if .Values.env }}
            {{- toYaml .Values.env | nindent 12 }}
            {{- end }}
          ports:
            - containerPort: {{ .Values.containerPort }}
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: {{ .Values.containerPort }}
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/readyz
              port: {{ .Values.containerPort }}
            initialDelaySeconds: 3
            periodSeconds: 5
          resources:
