{{- if .Values.ingress.enabled }}
{{- with .Values.ingress.stripPrefixes }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ $.Release.Name }}-strip-prefix
  labels:
    app: {{ $.Release.Name }}
spec:
  stripPrefix:
    prefixes:
      {{- toYaml . | nindent 6 }}
{{- end }}
{{- end }}
