apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "web-frontend.fullname" . }}
  labels:
    {{- include "web-frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "web-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "web-frontend.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.containerPort }}
          resources:
