apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  
  # Selector: Which pods receive traffic
  # Matches pods with label: app=dev-web-frontend
  selector:
    app: {{ .Release.Name }}
  
  ports:
    - port: {{ .Values.service.port }}        # Service port (what clients connect to)
      targetPort: {{ .Values.containerPort }}  # Container port (where Nginx listens)
      protocol: TCP
