configs:
  params:
    server.insecure: true

server:
  extraArgs:
    - --rootpath=/argocd
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations: {}
    hostname: localhost
    path: /argocd
    pathType: Prefix
    tls: false
